@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row text-center py-5" aria-labelledby="title">
        <div class="col">
            <h1 id="title" class="display-4 mb-4">Benvenuto su ShipManager <br /> Il nostro servizio di spedizione!</h1>
            <h3 class="lead mb-4"><strong>Siamo qui per semplificare il tuo processo di spedizione. <br /> Con il nostro sistema, puoi gestire facilmente le spedizioni e i clienti in modo efficace e conveniente.</strong></h3>
        </div>
    </section>

    <div class="row text-center py-5">
        <div class="col-md-4">
            <h2 class="mb-4">Facile da Usare</h2>
            <p>Il nostro servizio è progettato per essere intuitivo e facile da usare, anche per i principianti. Inizia subito senza dover imparare complesse procedure.</p>
        </div>
        <div class="col-md-4">
            <h2 class="mb-4">Spedizioni Rapide</h2>
            <p>Con la nostra rete di spedizione efficiente, garantiamo consegne rapide e affidabili. Affidati a noi per inviare i tuoi pacchi in tempo record.</p>
        </div>
        <div class="col-md-4">
            <h2 class="mb-4">Sicuro e Affidabile</h2>
            <p>La sicurezza dei tuoi pacchi è la nostra priorità. Utilizziamo le migliori pratiche di imballaggio e lavoriamo con corrieri affidabili per garantire che i tuoi pacchi arrivino al loro destino in perfette condizioni.</p>
        </div>
    </div>
</main>
